.Heading{
    font-family: courier;
    color: black;
    background-color: blueviolet;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    font-size: 50px;
    font-style: italic;
    background-color: lightgray;
}